div[data-role="page"] {
    font-family: arial, verdana;
    font-size: .9em;
}
div[data-role="content"] {
    min-height: 200px;
}
ul[data-role="listview"] {
    margin: 20px 10px;
}
    
#welcome_new {
    margin-left: 20px;
}
input {
    max-width: 250px;
}
    
label {
    max-width: 100px;
}
label.long {
    max-width: 350px;
}
a[data-role="button"], a[type="button"], .ui-select {
    max-width: 350px;
}
.ui-bar-j {
    border: 1px solid 		#0f3258;
    background: 			#0f3258;
    color: 				white;
    text-shadow: 0 1px 0 	#fff;
    background-image: -moz-linear-gradient(top,
    #2c4b70,
    #0f3258);
    background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, 		#2c4b70),
    color-stop(1, 		#0f3258));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2c4b70', EndColorStr='#0f3258')";
}
ul {
    list-style-type: none;
}
header span {
    color:white;
}
.main-footer {
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    text-align: center;
}
    
    
    
    
.footer-links li {
    display: inline-block;
    margin: 0 1em 0 0;
}
.main-footer div[data-role="navbar"] .ui-btn-inner {
    padding: .3em 8px .4em;
    color: #666666;
}
